table{
    width: 100%;
}
.wrapper{
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.wrappers{
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.spinner
{
    display: flex;
    justify-content: center;
    margin: 15px;
}