    <div class="wrappers">
        <div class="wrapper">
        <div style="margin-bottom: 30px; margin-top: 30px;">
                <input type="file" style=" text-align: center;margin: auto;" (change)='convertFile(input)' id='fileInput' #input>
        </div>
        <div class="spinner">
        <mat-spinner [diameter]="35" *ngIf="isUploading"></mat-spinner>
        </div>
        <div *ngIf="isUploaded">
            <p>
                File has been uploaded. Refresh the page to see uploaded data.
            </p>
        </div>
    </div>
    <div *ngIf="dataSource.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="ExternalId">
            <th mat-header-cell *matHeaderCellDef> External Id </th>
            <td mat-cell *matCellDef="let element"> {{element.ExternalId}} </td>
            </ng-container>
        
            <ng-container matColumnDef="TradingName">
            <th mat-header-cell *matHeaderCellDef> Trading Name </th>
            <td mat-cell *matCellDef="let element"> {{element.TradingName}} </td>
            </ng-container>
        
            <ng-container matColumnDef="LegalName">
            <th mat-header-cell *matHeaderCellDef> Legal Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LegalName}} </td>
            </ng-container>

            <ng-container matColumnDef="Phone">
                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                    <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
            </ng-container>

            <ng-container matColumnDef="Fax">
                    <th mat-header-cell *matHeaderCellDef> Fax </th>
                    <td mat-cell *matCellDef="let element"> {{element.Fax}} </td>
            </ng-container>              
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
    </div>